/* styles/04-components/buttons.css */

/* button {
    padding: .25rem .5rem;
    border: transparent;
    border-radius: var(--radius-medium);
    background-color: var(--color-button-background);
    color: var(--color-text-knockout);
    font-size: var(--font-size-xsmall);
    font-variation-settings:
        "wght" var(--font-weight-semibold),
        "wdth" var(--font-width-regular);
    line-height: var(--line-height-default);
    letter-spacing: var(--letter-spacing-loose);
}

.ghost {
    background-color: transparent;
    color: var(--color-text);
    box-shadow: inset 0 0 0 1px lightpink
} */