/* styles/04-components/content.css */

.content {
    display: flex;
    align-items: flex-start;
    padding: calc(var(--padding-default) * 2) 0;
    /* This ensures the section has its own color context */
    background-color: var(--color-background);
    color: var(--color-text);
    scroll-margin-top: var(--twelve-x); /* Offset for fixed header when using anchor links */
}

/* Sibling border logic (change so it only applies to consecutive sections with default styling, not accents
.content + .content {
    border-top: 1px solid var(--color-border-faint);
} */

.content .grid-wrapper {
    grid-template-areas: 
        ". . head head head head head head head head . ."
        ". . body body body body body body body body . .";
}

/* Assigning the HTML classes to the map above */
.content-head {
    grid-area: head;
    padding: var(--padding-default);
    background:
        var(--brackets) left -8px top -8px no-repeat,
        var(--brackets) right -8px top -8px no-repeat,
        var(--brackets) right -8px bottom -8px no-repeat,
        var(--brackets) left -8px bottom -8px no-repeat;
}

.content-body {
    grid-area: body;
    padding: var(--padding-default);
    background:
        var(--brackets) left -8px top -9px no-repeat,
        var(--brackets) right -8px top -9px no-repeat,
        var(--brackets) right -8px bottom -8px no-repeat,
        var(--brackets) left -8px bottom -8px no-repeat;
}

#about {
    background-color: var(--color-background-accent-about);
}

#about h2, #about .content-body ul li::before {
    color: var(--color-accent-about);
}

#about a::after {
    background-color: var(--color-accent-about);
}

/* Responsive: On mobile, we reclaim the full width */

@media only screen and (max-width: 960px) {

    .content .grid-wrapper {
        grid-template-areas: 
            ". head head head head head head head head head head ."
            ". body body body body body body body body body body .";
    }
}

@media only screen and (max-width: 768px) {

    .content {
        padding: calc(var(--padding-default) * 1.5) 0;
    }

    .content .grid-wrapper {
        grid-template-areas: 
            "head head head head head head head head head head head head"
            "body body body body body body body body body body body body";
    }
}