/* styles/04-components/hero.css */

#hero {
    display: flex;
    align-items: center;
    height: 100vh; /* Fallback */
    height: 100dvh; /* Modern browsers */
    min-height: 44.5rem; /* */
    padding: var(--twelve-x) 0 var(--six-x) 0; /* Padding to optically center content vertically */
    background-color: var(--color-background-accent-hero);
    scroll-margin-top: var(--twelve-x);
}

#hero .grid-wrapper {
    /* Each row has 12 slots. 
       Columns 1-2: Empty (.)
       Columns 3-10: Content (head/body)
       Columns 11-12: Empty (.) */
    grid-template-areas: 
        ". . head head head head head head head head . ."
        ". . body body body body body body body body . .";
}

/* Assigning the HTML classes to the map above */

.hero-head {
    grid-area: head;
    padding: var(--padding-default);
    background:
        var(--brackets) left -8px top -8px no-repeat,
        var(--brackets) right -8px top -8px no-repeat,
        var(--brackets) right -8px bottom -8px no-repeat,
        var(--brackets) left -8px bottom -8px no-repeat;
}

.hero-body {
    grid-area: body;
    padding: var(--padding-default);
    background:
        var(--brackets) left -8px top -9px no-repeat,
        var(--brackets) right -8px top -9px no-repeat,
        var(--brackets) right -8px bottom -8px no-repeat,
        var(--brackets) left -8px bottom -8px no-repeat;
}

#hero h1 {
    font-size: var(--font-size-5xlarge);
    font-variation-settings:
        "wght" var(--font-weight-bold),
        "wdth" var(--font-width-extended);
    letter-spacing: var(--letter-spacing-tighter);
    line-height: var(--line-height-dense);
    color: var(--color-accent-hero);
}

#hero .subtitle {
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-regular);
    letter-spacing: var(--letter-spacing-default);
    line-height: var(--line-height-open);
    font-optical-sizing: auto;
    color: var(--color-accent-hero);
}

#hero a::after {
    background-color: var(--color-accent-hero);
}

/* ============= */
/* Media queries */
/* ============= */

@media only screen and (max-width: 960px) {

    #hero {
        padding: var(--ten-x) 0 var(--five-x) 0; /* Padding to optically center content vertically */
    }

    #hero .grid-wrapper {
        grid-template-areas: 
            ". head head head head head head head head head head ."
            ". body body body body body body body body body body .";
    }
}

@media only screen and (max-width: 768px) {

    #hero {

    }

    #hero .grid-wrapper {
        grid-template-areas: 
            "head head head head head head head head head head head head"
            "body body body body body body body body body body body body";
    }

    #hero h1 {
        font-size: var(--font-size-4xlarge);
    }

    #hero .subtitle {
        font-size: var(--font-size-medium);
    }
}

@media only screen and (max-width: 480px) {

    #hero {
        align-items: flex-start;
        padding-top: calc(var(--ten-x) + var(--padding-double));
        height: auto;
    }

    #hero h1 {
        font-size: var(--font-size-3xlarge);
    }

    #hero .subtitle {
        font-size: var(--font-size-small);
    }

    .header-title {
        font-size: var(--font-size-3xsmall);
    }

}