/* 02-base > reset.css */

/* A more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;

  /* We only transition properties affected by the theme change. Listing them explicitly is better for performance than 'all' */
  transition: 
    background-color var(--transition-default),
    background-image var(--transition-default),
    color var(--transition-default), 
    border-color var(--transition-default), 
    fill var(--transition-default),
    stroke var(--transition-default),
    box-shadow var(--transition-default);
}

/* Text selection styling*/

::selection,
::-moz-selection,
::-o-selection,
::-ms-selection,
::-webkit-selection {
    background-color: var(--color-accent-1);
    color: var(--color-text-highlight);
}

/* Remove default margins and padding for all elements */
* {
  margin: 0;
  padding: 0;
}

/* Allow percentage-based heights in the application */
html, body {
  height: 100%;
  scroll-behavior: smooth;
}

/* Add accessible line-height and improve text rendering */
body {
  font-family: var(--sans-serif);
  font-size: var(--font-size-medium);
  font-variation-settings: 
        "wght" var(--font-weight-regular),
        "wdth" var(--font-width-regular);
  line-height: var(--line-height-default);
  letter-spacing: var(--letter-spacing-default);
  font-optical-sizing: auto;
  font-kerning: normal;
  font-variant-ligatures: contextual;
  font-feature-settings: "liga" 1, "clig" 1;
  color: var(--color-text);
  background-color: var(--color-background);
  -webkit-font-smoothing: antialiased;
}

main, section, aside, footer, nav, header {
    display: block; /* Ensures old browsers treat them as block elements */
    margin: 0;
    padding: 0;
}

/* Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

svg, a, button, h1, h2, h3, h4, h5, p, span{
    transition: var(--transition-default)
}

/* Remove built-in form typography styles */
input, button, textarea, select {
  font: inherit;
}

/* Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* Create a root stacking context (optional but helpful) */
#root, #__next {
  isolation: isolate;
}

path {
    transition: d var(--transition-default);
}