/* 02-base > reset.css */

/* A more-intuitive box-sizing model */

*, *::before, *::after {
  box-sizing: border-box;
}

/* Remove default margins and padding for all elements */

* {
  margin: 0;
  padding: 0;
}

/* Allow percentage-based heights in the application */

html, body {
  height: 100%;
  scroll-behavior: smooth;
}

/* Add accessible line-height and improve text rendering */

body {
  font-family: var(--sans-serif);
  font-size: var(--font-size-medium);
  font-variation-settings: 
        "wght" var(--font-weight-regular),
        "wdth" var(--font-width-regular);
  line-height: var(--line-height-default);
  letter-spacing: var(--letter-spacing-default);
  font-optical-sizing: auto;
  font-kerning: normal;
  font-variant-ligatures: contextual;
  font-feature-settings: "liga" 1, "clig" 1;
  color: var(--color-text);
  background-color: var(--color-background);
  -webkit-font-smoothing: antialiased;
}

main, section, aside, footer, nav, header {
    display: block; /* Ensures old browsers treat them as block elements */
    margin: 0;
    padding: 0;
}

/* Improve media defaults */

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* Remove built-in form typography styles */

input, button, textarea, select {
  font: inherit;
}

/* Avoid text overflows */

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* Create a root stacking context (optional but helpful) */

#root, #__next {
  isolation: isolate;
}