/* styles/01-settings/dimensions.css */

:root {

    /* Bases */

    --eighth-x: .0625rem;
    --quarter-x: .125rem;
    --three-eighths-x: .1875rem;
    --half-x: .25rem;
    --three-quarter-x: .375rem;
    --one-x: .5rem;
    --one-and-a-quarter-x: .625rem;
    --one-and-a-half-x: .75rem;
    --two-x: 1rem;
    --two-and-a-half-x: 1.25rem;
    --three-x: 1.5rem;
    --four-x: 2rem;
    --five-x: 2.5rem;
    --six-x: 3rem;
    --eight-x: 4rem;
    --ten-x: 5rem;
    --twelve-x: 6rem;
    --sixteen-x: 8rem;

    /* Negative bases*/

    --neg-eighth-x: -.0625rem;
    --neg-quarter-x: -.125rem;
    --neg-three-eighths-x: -.1875rem;
    --neg-half-x: -.25rem;
    --neg-three-quarter-x: -.375rem;
    --neg-one-x: -.5rem;
    --neg-one-and-a-quarter-x: -.625rem;
    --neg-one-and-a-half-x: -.75rem;
    --neg-two-x: -1rem;
    --neg-three-x: -1.5rem;
    --neg-four-x: -2rem;
    --neg-five-x: -2.5rem;
    --neg-six-x: -3rem;
    --neg-eight-x: -4rem;
    --neg-ten-x: -5rem;
    --neg-twelve-x: -6rem;
    --neg-sixteen-x: -8rem;

    /* Corner radius */

    --radius-xsmall: var(--quarter-x);
    --radius-small: var(--half-x);
    --radius-medium: var(--one-x);
    --radius-large: var(--one-and-a-half-x);
    --radius-xlarge: var(--two-x);

    /* Padding */

    --padding-default: var(--four-x);
    --padding-small: var(--three-x);
    --padding-half: var(--two-x);
    --padding-double: var(--eight-x);

    /* Other adaptive spacing */

    --adaptive-space-2xsmall: var(--one-x);
    --adaptive-space-xsmall: var(--one-and-a-half-x);
    --adaptive-space-small: var(--two-x);
    --adaptive-space-medium: var(--two-and-a-half-x);
    --adaptive-space-large: var(--three-x);
    --adaptive-space-xlarge: var(--four-x);
    --adaptive-space-2xlarge: var(--five-x);

}

@media only screen and (max-width: 960px) {

    :root {

        /* Padding & margins */

        --padding-default: var(--three-x);
        --padding-small: var(--two-and-a-half-x);
        --padding-half: var(--one-and-a-half-x);
        --padding-double: var(--six-x);

        /* Other adaptive spacing */

        --adaptive-space-2xsmall: var(--three-quarter-x);
        --adaptive-space-xsmall: var(--one-and-a-quarter-x);
        --adaptive-space-small: var(--one-and-a-half-x);
        --adaptive-space-medium: var(--two-x);
        --adaptive-space-large: var(--two-and-a-half-x);
        --adaptive-space-xlarge: var(--three-x);
        --adaptive-space-2xlarge: var(--four-x);

    }
}

@media only screen and (max-width: 480px) {

    :root {

        /* Padding & margins */

        --padding-default: var(--two-and-a-half-x);
        --padding-small: var(--two-x);
        --padding-half: var(--one-and-a-half-x);
        --padding-double: var(--five-x);

        /* Other adaptive spacing */

        --adaptive-space-2xsmall: var(--half-x);
        --adaptive-space-xsmall: var(--one-x);
        --adaptive-space-small: var(--one-and-a-quarter-x);
        --adaptive-space-medium: var(--one-and-a-half-x);
        --adaptive-space-large: var(--two-x);
        --adaptive-space-xlarge: var(--two-and-a-half-x);
        --adaptive-space-2xlarge: var(--three-x);

    }
}